@tailwind base;
@tailwind components;
@tailwind utilities;


.video-stream-detail {
    /* min-height: 400px !important; */
    height: 70vh !important;
}


/* mobile screen */
@media (max-width: 768px) {
    .video-stream-detail {
        /* min-height: 300px !important; */
        height: 35vh !important;
    }
}

.plyr {
    height: 100%;
    width: 100%;
}

#wrapper {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 500px;
    background-color: green;
}

.plyr__video-wrapper {
    height: 100%;
}

.plyr__video-wrapper iframe {
    width: 100%;
    height: 100%;
}