@tailwind base;
@tailwind components;
@tailwind utilities;


.video-stream-detail {
    min-height: 400px !important;
    height: 70vh !important;
}


/* mobile screen */
@media (max-width: 768px) {
    .video-stream-detail {
        min-height: 300px !important;
        height: 35vh !important;
    }
}